.cart__area {
  min-height: 450px;

}
.cart__header{
  display: flex;
  font-size: 24px;
  font-weight: 500;
}

.no_item {
  color: rgb(167, 167, 167);
  font-size: 12px;
  display: inline-block;
  margin-top: 20px;
  }

  .cart__segments {
   font-size: 12px; 
   display: flex;
  }
  
  .cart__segments_one {
    flex: 1;
  }