.filter_card__wrapper {
  box-sizing: border-box;
  border-radius: 10px;
  display: inline-flex;
  height: 35px;
  font-weight: normal;
  font-size: 12px;
  color: white;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  letter-spacing: 0.5px;
}
.filter_card__wrapper:hover {
  cursor: pointer;
}

.checkbox {
  background-color: white;
  width: 15px;
  height: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}

.text {
  display: inline-block;
  margin-left: 8px;
}