.header {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 2px;
}

.normal {
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    margin-top: 1px;
    margin-bottom: 2px;
}

.small {
    font-size: 12px;
}