.rightsheet {
  position: fixed;
  width: 300px;
  height: 100vh;
  background: #FFFFFF;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 15px; 
  top: 3px;
  transition: 0.5s;
  z-index: 100;
}