@keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }

.robot_card {
    position: relative;
    animation: fadeIn 0.7s;
}
.card {
    width: 275px;
    height: 165px;
    top: 215px;
    background: #FFFFFF;
    border-radius: 16px;
    transition: 0.5s;
}

.img {
    width: 125px;
    height: 120px;
}
.card__upper {
    display:  flex;
    padding-right: 20px;
}
.card__lower {
    display: flex;
}
.price_tag{
    box-sizing: border-box;
    width: 110px;
    height: 51px;
    left: 422px;
    border: 1px solid rgb(238, 238, 238);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 4px 8px -2px rgba(98, 98, 98, 0.1);
    border-radius: 0px 0px 10px 10px;
    position: absolute ;
    top: 160px;
    left: 20px;
    padding-top: 15px;
    padding-bottom: 10px;
    text-align: center;
    z-index: -99;
}